<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= pageTitle %>
  </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">

    <%- include('../includes/admin-navigation.ejs') %>

      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><%= baslik %></h4>
                    <div class="table-responsive">
                      <% if (ilanlar.length> 0) { %>
                        <table class="table table-striped text-center">
                          <thead>
                            <tr>
                              <th>Fotoğraf</th>
                              <th>Adı Soyadı</th>
                              <th>Telefon</th>
                              <th>E-Posta</th>
                              <th>Ön Yazı</th>
                              <th>Özgeçmiş</th>
                              <% if (path=="/basvuru") { %>
                              <th></th>
                              <% } %>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (let bsvr of basvuran) { %>
                              <tr>
                                <td class="py-1">
                                  <img src="<%= bsvr.resim %>" alt="image" />
                                </td>
                                <td>
                                  <%= bsvr.ad_soyad %>
                                </td>
                                <td>
                                  <%= bsvr.telefon %>
                                </td>
                                <td>
                                  <%= bsvr.email %>
                                </td>
                                <td>
                                  <%= bsvr.on_yazi %>
                                </td>
                                <td> <a href="<%= bsvr.cv %>" target="_blank"><img src="images/cv.png" alt=""></a> </td>
                                <% if (path=="/basvuru") { %>
                                <td>
                                  <form action="/basvuru-detay" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="ilan_id" value="<%= bsvr.ilanId %>">
                                    <input type="hidden" name="basvuran_id" value="<%= bsvr.id %>">
                                    <button class="btn badge-outline-primary">İncele</button>
                                  </form>
                                </td>
                                <% } %>
                              </tr>
                              <% } %>

                          </tbody>
                        </table>
                        <% } else { %>

                          <% } %>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com
                2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                  href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin
                  templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <!-- End custom js for this page -->
</body>

</html>